body{
    font-family: 'Poppins', sans-serif;
}
h1, h2{
    text-align: center;
    font-weight: 600;
    color: #333;
}

.tabela{
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
}
.itens{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.escudo{
    width: 30px;
}