<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Times Brasilerão</title>
</head>
<body>
  <h1>Times Brasilerão</h1>
  <table class="tabela">
  <thead>
    <th>ID</th>
    <th>Escudo</th>
    <th>Nome</th>
  </thead>

  <tr *ngFor="let times of tabela | async">
    <td>{{times.time_id}}</td>
    <td><img class="escudo" src="{{times.escudo}}" alt=""></td>
    <td>{{times.nome}}</td>
  </tr>
  </table>
</body>
</html>