<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Times Brasilerão</title>
</head>
<body>
  <h1>Times Brasilerão</h1>
  <table class="tabela">
  <thead>
    <th>Posição</th>
    <th>Escudo</th>
    <th>Time</th>
    <th>Pontos</th>
  </thead>

  <tr *ngFor="let time of tabela | async">
    <td>{{time.overall_league_position}}</td>
    <td><img class="escudo" src="{{time.team_badge}}" alt=""></td>
    <td>{{time.team_name}}</td>
    <td>{{time.overall_league_PTS}}</td>

  </tr>
  </table>
</body>
</html>