<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações Clube</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Informações do Clube</h1>
    <table class="tabela">
        <thead>
            <th>Posição</th>
            <th>Número</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Gols</th>
        </thead>
        <tr class="itens" *ngFor="let clube of informacoes | async">
            <td>{{clube.player_type}}</td>
            <td>{{clube.player_number}}</td>
            <td>{{clube.player_name}}</td>
            <td>{{clube.player_age}}</td>
            <td>{{clube.player_goals}}</td>
        </tr>
    </table>
</body>
</html>